/* Reset default browser styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
ul {
    list-style: none;
    font-family: sans-serif;
}

/* Basic styles */
header {
    background-color: #ffffff3b;
    backdrop-filter: blur(10px);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
}
header h1{
    font-size: 1.2rem;
}
header nav ul li{
    font-size: 0.8rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 5px;
}
nav .name{
    padding: 10px;
    border-radius: 10px;
}
.name:hover{
    background-color: #c2c2c256;
}
nav ul {
    display: flex;
    font-weight: bold;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #507dee;
}

.section {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content {
    /* max-width: 800px; */
    margin: 0 auto;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.aAS_Btn, .aPS_Btn,.editLinks_Btn{
    font-size: 1.2rem;
    padding: 7px;
    position: absolute;
    top: 70px;
    right: 50px;
    border: none;
    border-radius: 10px;
}
.hAS{
    width: 350px;
    height: 400px;
    position: absolute;
    top: -1000px;
    margin: 0 auto;
    border: 5px solid white;
    background-color: #807f7f;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    align-items: center;
}
.hPS{
    width: 350px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    border: 5px solid white;
    background-color: #807f7f;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    align-items: center;
}
.hCM{
    width: 350px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    border: 5px solid white;
    background-color: #807f7f;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    align-items: center;
}
.hAS :is(input,textarea), .hPS :is(input,textarea), .hCM :is(input){
    width: 100%;
}
.hAS button, .hPS button, .hCM button{
    margin-top: 10px;
    padding: 5px;
}
.note{
    font-size: 12px;
}

@media screen and (min-width:600px) {
    header h1{
        padding: 10px;
        font-size: 2rem;
    }
    header nav ul a{
        font-size: 1rem;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .aAS_Btn, .aPS_Btn,.editLinks_Btn{
        font-size: 1.5rem;
        padding: 10px;
        position: absolute;
        top: 100px;
        right: 100px;
        border: none;
        border-radius: 15px;
    }

    .hAS{
        width: 350px;
        height: 400px;
        padding: 20px;
        font-size: 1rem;
        line-height: 2rem;
    }
    .hPS{
        width: 350px;
        height: 450px;       
        padding: 20px;
        font-size: 1rem;
        line-height: 2rem;
    }
    .hCM{
        width: 350px;
        height: 450px;
        padding: 20px;
        font-size: 1rem;
        line-height: 2rem;
    }
    .hAS :is(input,textarea), .hPS :is(input,textarea), .hCM :is(input){
        width: 100%;
    }
    .hAS button, .hPS button, .hCM button{
        margin-top: 10px;
        padding: 5px;
    }

}
/* Individual section styles */
.home {
    background-image: url(./homeBG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 1rem;
    height: 100vh;
}

.home h1 {
    font-size: 1.2rem;
}
.about {
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    min-height: 100vh;
    padding: 100px 70px;
}
.about .content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
}
.about .content h1{
    font-size: 1.2rem;

}
.about .AMS{
    border-bottom: 5px solid black;
}
.about .AMS>h3{
    margin-top: 20px;
    font-size: 1rem;

}
.about .AMS p{
    font-size: 0.8rem;
}
.about .AMS>button{
    margin: 10px;
    font-size: 0.8rem;
}
/* ------------------------ */
.projects {
    background-color: #27ae60;
    margin: 0;
    min-height: 100vh;
    padding: 100px 30px;
}
.project .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.projects .content h1{
    font-size: 1.2rem;
}

.projects .PS{
    min-width: 400px;
    border: 5px solid;
    margin: 15px auto;
    padding: 10px;
}
.projects .PS>h3{
    margin-top: 20px;
    font-size: 1rem;
}
.projects .PS p{
    font-size: 0.8rem;
}
.projects .PS :is(a,a:visited){
    display: block;
    text-decoration: none;
    color: #1954ea;
}
.projects .PS> :is(a:hover){
    text-decoration: underline;
    color: #1954ea;
}
.projects .PS>button{
    margin: 10px;
    font-size: 0.8rem;
}

/* ------------------------------- */
.contact {
    display: flex;
    flex-direction: column;
    background-color: #e74c3c;
    min-height: 100vh;
    padding: 50px 70px;
}
.contact .content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
}
.contact .content h1{
    font-size: 1.2rem;
}
.contact .content p{
    font-size: 1rem;
}
.contact .current :is(a,a:visited){
    display: block;
    text-decoration: none;
    color: #1954ea;
}
.contact .current :is(a:hover){
    text-decoration: underline;
    color: #1954ea;
}
.about .AMS>h3{
    margin-top: 20px;
    font-size: 1rem;

}
.about .AMS p{
    font-size: 0.8rem;
}
.about .AMS>button{
    margin: 10px;
    font-size: 0.8rem;
}

/* ----------------- */
.download{
    padding: 100px 30px;
    background-image: url(./homeBG.jpg);
}
.download .content {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.download .content :is(a,a:visited){
    color: white;
    font-size: 15px;
    text-decoration: none;
    border: 5px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff3b;
    backdrop-filter: blur(10px);
}
.download .content a:hover{
    background-color: #ffffff86;
    backdrop-filter: blur(10px);
}


footer {
    background-color: #ffffff3b;
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

@media screen and (min-width:600px) {
    .home h1{
        font-size: 2rem;
    }
    .home{
        font-size: 1.2rem;
    }
    header nav ul a{
        font-size: 1rem;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    /* ------------------ */
    .about{
        padding: 120px 70px;
    } 
    .about .content h1{
        font-size: 2rem;
    }
    .about .content .AMS h3{
        font-size: 1.3rem;
    }
    .about .content .AMS p{
        font-size: 1.1rem;
    }

    /* ------------------ */
    .projects{
        padding: 120px 70px;
    }
    .projects .gridContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    .projects .content h1{
        font-size: 2rem;
    }
    .projects .content .PS h3{
        font-size: 1.3rem;
    }
    .projects .content .PS p{
        font-size: 1.1rem;
    }

    /* ------------------------- */
    .contact .content h1{
        font-size: 2rem;
    }
    .contact .current{
        padding: 16px;
    }
    .contact .content p{
        font-size: 1.1rem;
    }
    .contact .current a{
        font-size: 1.4rem;
    }
    
    .download .content :is(a,a:visited){
        font-size: 20px;
    }
}